{% extends "base.html.twig" %}

{% block title %}Admissions - Connexion{% endblock %}
{% block stylesheets %}
    <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ asset('build/css/master.min.css') }}">
{% endblock %}

{% block body %}
    <div class="Login">
        <div class="Login__logo"></div>
        <h1 class="Login__title">HETIC</h1>
        <h2 class="Login__subtitle">Connexion au système de <span class="--bold">gestion des admissions</span></h2>
        {% if error %}
            <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
        <form method="POST">
            <div class="Login__form-box">
                <label class="Login__form-box__label" for="_username">Nom d'utilisateur</label>
                <input class="Login__form-box__input" type="text" name="_username" placeholder="Nom d'utilisateur"
                       value="{{ last_username }}"/>
                <label class="Login__form-box__label" for="_password">Mot de passe</label>
                <input class="Login__form-box__input" type="password" name="_password" placeholder="Mot de passe"/>
            </div>

            <div class="Login__send-box">
                <button class="Login__send-box__submit" type="submit" name="_submitLogin">Connexion</button>
            </div>
        </form>
    </div>
{% endblock %}